<div class="mb-3">
  <%= form.label :name, class: "form-label" %><br />
  <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
</div>
<%# <div class="mb-3"> %>
  <%# <%= form.label :icon, class: "form-label" %> %>
  <%# <%= form.text_field :icon, autofocus: true, autocomplete: "icon", class: "form-control" %> %>
<%# </div> %>