/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.main-screen {
  background-color: #eee;
  min-height: 100vh;
  padding: 0;
}

.splash-img {
  text-align: center;
  margin-top: 40vh;
  height: 10vh;
}

.splash-img img {
  height: 100%;
}

.bottom-btns {
  position: fixed;
  width: 30.5%;
  bottom: 0;
  background-color: #5fb523;
  margin: 0;
}

.auth-btns {
  position: absolute;
  top: 88vh;
  width: 33%;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #3778c2;
}

.item-container {
  background-color: #fff;
}

.footer-btn {
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  border: 1px solid #fff;
  padding: 10px 0;
}

.footer-btn:hover {
  color: #fff;
}

.splash-footer {
  position: fixed;
  width: 30.5%;
  bottom: 0;
  background-color: #3778c2;
  margin: 0;
}

.logout-btn {
  background: none;
  border: none;
  color: #fff;
}
